.git/
.venv/
__pycache__/
mobo.db
node_modules/
web/node_modules/
web/.svelte-kit/
web/build/
scratch/
tests/
.pytest_cache/
/data/
/static/img/io/
/web/static/data/
/web/static/img/
/web/static/static/
