{% extends "base.html" %}

{% block content %}

<!-- Header merged into toolbar -->

{% include 'partials/compare_toolbar.html' %}

<div class="table-container shadow-sm rounded border">
    {% include 'partials/compare_table.html' %}
</div>

{% endblock %}

{% block scripts %}

<script>
    // Embed LAN Lookup from backend
    const LAN_SCORES = {{ lan_lookup | tojson | safe if lan_lookup else '{}' }};
</script>
<script src="{{ url_for('static', filename='js/parsers.js') }}"></script>
<script src="{{ url_for('static', filename='js/compare.js') }}"></script>
{% endblock %}